// Specific CSS for your home-page
.container {
  background-color: #95B2B8;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

body {
  background-color: #704C5E;
}

.btn:hover {
  background-color: black;
  color: white;
}
